doctype html
html
  head
    title My Dance Academy
    block scripts
    block style 
  body
    nav.navbar 
        ul 
            div #[img(src= "/static/imgs/lgo.png")]
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact Us]
    block content
    footer.foot 
        p Copyright &copy; &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;   MyDanceAcademy.com &nbsp;&nbsp;&nbsp;&nbsp;  |&nbsp;&nbsp;&nbsp;&nbsp;   All rights reserved
